# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.RProducer.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\andre\RiderProjects\RabbitDotNETCore\RProducer\.idea\.idea.RProducer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
